extends layout

block content
  h1= title
  h5= description
  p For details:
  table(class="table table-striped table-hover")
    thead
      tr 
        th Operation Name
        th Has Request
        th Status
    tbody
      tr
        th Download Data
        td(id="download_request")
        td(id="download_status")
      tr 
        th Mail To Departments
        td(id="mailAll_request") 
        td(id="mailAll_status")
      tr 
        th Mail To Office
        td(id="mailSpec_request")
        td(id="mailSpec_status")
      tr 
        th Update MailQ Config
        td(id="updateMailConfig_request")
        td(id="updateMailConfig_status")

block scripts
  script(type="text/javascript" src="/javascripts/check.js")