# All the ignored folders and files in the project "DownloadDataApp".
DownloadDataApp/__pycache__
DownloadDataApp/build
DownloadDataApp/data
DownloadDataApp/dist
DownloadDataApp/drives/*
DownloadDataApp/logs
DownloadDataApp/helper/__pycache__
DownloadDataApp/utils/__pycache__
DownloadDataApp/config.json
DownloadDataApp/main.exe
DownloadDataApp/main.spec

# All the skip folders and files in the project "DownloadDataApp".
!DownloadDataApp/drives/chromedriver.exe
!DownloadDataApp/drives/bak



