# All the ignored folders and files in the project "DownloadDataApp".
DownloadDataApp/__pycache__
DownloadDataApp/build
DownloadDataApp/data
DownloadDataApp/dist
DownloadDataApp/drives/*
DownloadDataApp/config.json
DownloadDataApp/main.exe
DownloadDataApp/main.spec

!DownloadDataApp/drives/chromedriver.exe



