# All the ignored folders and files in the project "DownloadDataApp".
DownloadDataApp/__pycache__
DownloadDataApp/build
DownloadDataApp/data
DownloadDataApp/dist
DownloadDataApp/drives/*
DownloadDataApp/logs
DownloadDataApp/helper/__pycache__
DownloadDataApp/utils/__pycache__
DownloadDataApp/config.json
DownloadDataApp/main.exe
DownloadDataApp/main.spec

# All the skip folders and files in the project "DownloadDataApp".
!DownloadDataApp/drives/chromedriver.exe
!DownloadDataApp/drives/bak

# All the ignored folders and files in the project "MailSenderApp".
MailSenderApp/.vs
MailSenderApp/packages
MailSenderApp/MailSenderApp/bin
MailSenderApp/MailSenderApp/Data/*
MailSenderApp/MailSenderApp/obj
MailSenderApp/MailSenderApp/Outputs
MailSenderApp/MailSenderApp/Reports
MailSenderApp/MailSenderApp/App.config
MailSenderApp/MailSenderApp/MailSenderApp.csproj.user

# All the skip folders and files in the project "MailSenderApp".
!MailSenderApp/MailSenderApp/Data/mail_queue_templ - sample.xlsx
!MailSenderApp/MailSenderApp/Data/[Template] PersonalInfo.xlsx

# All the ignored folders and files in the project "RemoteControl".
RemoteControl/.vscode
RemoteControl/bin
RemoteControl/data
RemoteControl/node_modules
RemoteControl/config.json
# All the skip folders and files in the project "RemoteControl".


